.reserve-page-container {
  background-color: #495e57;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reservation-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1280px;
  width: 100%;
}

.reservation-title {
  width: 100%;
  max-width: 1280px;
}
.reservation-images-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
  align-items: flex-start;
}
.reservation-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  overflow: hidden;
}

.reservation-image {
  min-height: 350px;
  width: auto;
  height: 100%;
  align-items: center;
}

.reservation-form {
  flex: 1;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.reservation-radio-label,
.reservation-radio-group p {
  font-weight: bold;
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #fff;
}

.reservation-radio-label {
  font-size: 14pt;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: #f4ce14;
}

/*input[type="date"]{
   font-weight: bold;
   color:#f4ce14;
}
input[type="time"]{

  font-weight: bold;
}
  */

@media screen and (max-width: 1200px) {
  .reservation-content {
    flex-direction: column;
  }

  .reservation-form {
    order: 2;
  }
  .reservation-images-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    order: 1;
    gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .reservation-images {
    height: 250px;
    width: 250px;
  }
}
