.cta-container {
  background-color: #495e57;
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: visible;
}

.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


/*Limits the width to approximately 50 characters per line.*/
/*white-space: normal;: Ensures that text will wrap onto the next line when the limit is reached.*/

.cta-button {
  padding: 0.5rem 1.5rem;
  background-color: #f4ce14;
  color: #000;
  border: none;
  border-radius: 16pt;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-top: 1rem;
}
.cta-button:hover {
  background-color: #d3b314;
}

.cta-image {
  max-width: 35%;
  height: auto;
  margin-bottom: -10%;
  border-radius: 16pt;
  z-index: 998;
  aspect-ratio: 1/1.1;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cta-description {
    text-align: center;
  }

  .cta-image {
    max-width: 300px;
    margin-bottom: -10%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cta-description {
    text-align: center;
  }

  .cta-title {
    font-size: 45pt;
  }
  .cta-location {
    font-size: 30pt;
  }
  .cta-button {
    margin-top: 0;
  }
  .cta-image {
    max-width: 200px;
    margin-top: 1.2rem;
    margin-bottom: -15%;
  }
}
