footer {
  background-color: #f4ce14;
  padding: 20px 0;
  color: #000;
  margin-top: auto;
}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #495e57;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto; /* Center the container */

  max-width: 1280px;
  padding: 20px;
}

.footer-logo {
  flex: 1; /* Allocate 1 part of space for the logo */
}

.footer-logo-img {
  max-width: 150px;
}

.footer-menu {
  display: flex;
}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  text-align: left;
}

.footer-links-column {
  margin: 40px;
}

.footer-links-column ul {
  list-style: none;
  padding: 0;
}

.footer-links-column ul li {
  margin-bottom: 8px;
}

.footer-contact {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-socials {
  margin-top: 15px;
}
.footer-socials a {
  margin-right: 10px;
}

.footer-socials img {
  width: 24px;
  height: 24px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.copyright a {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-links-column {
    margin: 0 20px;
    text-align: center;
  }

  .footer-contact {
    text-align: center;
    margin-top: 20px;
  }
  .footer-socials a {
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .footer-logo-img {
    max-width: 120px;
  }
  h3 {
    font-size: 16px;
  }
  a,
  .copyright,
  .copyright a {
    font-size: 12px;
  }
  .footer-socials img {
    width: 20px;
    height: 20px;
  }
}
