.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #ffff;
  color: #495e57;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding-left: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.login-button button {
  background-color: #495e57;
  color: #fff;
  border: none;
  padding: 6px 30px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.login-button button:hover {
  background-color: #24302c;
}

.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
}

.mobile-menu-icon {
  display: none;
  width: 45px;
  height: 45px;
  background-color: #d9d9d9;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links,
  .login-button {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #495e57;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 20px 0;
  }

  .nav-links-mobile li {
    margin-bottom: 10px;
    list-style: none;
  }

  .nav-links-mobile a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
  }

  .login-button-mobile {
    background-color: #f4ce14;
    color: #000000;
    border: none;
    margin-top: 20px;
    padding: 6px 30px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  .login-button-mobile:hover {
    background-color: #d3b314;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
