.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #ffff;
  color: #495e57;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}


.nav-links {
  display: flex;
  gap: 20px;
 padding-left:0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #495e57;
}


.login-button button{
  background-color: #495e57;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.login-button button:hover {
  background-color: #24302c;
}

.mobile-menu-icon {
display: none;
 border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links, .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #d9d9d9;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 20px 0;
  }

  .nav-links-mobile li {
    margin-bottom: 10px;
  }

  .nav-links-mobile a {
    font-size: 1.2rem;
  }
}
